.github/
CODE_OF_CONDUCT.md
LICENSE
README.md
datasets/
examples/
files/
hubconf.py
main/
pyproject.toml
requirements.txt
silero-vad.ipynb
src/
*.pyc
runs
*.feather
*.log
watch_dataset.ipynb
performance_longchau.py
path_version2.py
*.yml
__init__.py
*.jit
events.out*
newtest.ipynb
output2_1_2025
model2_1.pth
download_test.py
checkpoint/
tuning/feather/
tuning/feather/new.ipynb
